.noPadding {
  padding: 0px;
}

img {
  height: 250px;
  border-radius: 10px;
}

.box-with-text {
  h1{
    font-size: 150px;
    font-weight: bold;
  }
  background-image: url(/assets/Fated-Conflagration-Art.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h1.technique-six {
	height: 350px;
	padding: 75px 0 0 0;
	height: 0;
	background: url("assets/Rise-of-Eagles-Art.jpg") no-repeat;
	overflow: hidden;
}

/* Carousel css */

.carousel-inner.onebyone-carousel {
   margin: auto; width: 90%;
   }

.onebyone-carousel .active.left {
   left: -33.33%;
   }

.onebyone-carousel .active.right {
   left: 33.33%;
   }

.onebyone-carousel .next {
   left: 33.33%;
   }

.onebyone-carousel .prev {
   left: -33.33%;
   }
