nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.hvr-underline-from-center.navbar-brand(href='/') MichaelJPerez.net
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        //- li: a(href='/views/pages/portfolio.html'): i.fa.fa-street-view &nbsp; Portfolio
      ul.nav.navbar-nav.navbar-left
        li: a.hvr-underline-from-center(href='https://twitter.com/spinaldash' target="_blank")
          i.fa.fa-twitter-square
        li: a.hvr-underline-from-center(href="https://github.com/Spinaldash" target="_blank")
          i.fa.fa-github-square
        li: a.hvr-underline-from-center(href='https://www.linkedin.com/in/mjosephvp' target="_blank")
          i.fa.fa-linkedin-square
