extends ../../index
block content     
  .slider-wrap
    #slider.slider
      .holder
        #slide-0.slide
          span.temp 74째
        #slide-1.slide
          span.temp 64째
        #slide-2.slide
          span.temp 82째
        #slide-3.slide
          span.temp 69째
    nav.slider-nav
      a.active(href='#slide-0') Slide 0
      a(href='#slide-1') Slide 1
      a(href='#slide-2') Slide 2
      a(href='#slide-3') Slide 3
