extends ../../index
block content
  .jumbotron
    h1 hello world
  .jumbotron
    #hopliteContainer.container
      img(src='../../assets/Battlewise-Hoplite-Art.jpg')
  .jumbotron
    .experiment22
      p Hello RED world
